.home{
  min-height: calc(100vh - 25rem - 11.3rem);
  height: 100%;
}
.sortBy {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 20% 80%;
  flex-wrap: wrap;
  align-items: start;
  justify-items: start;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media (max-width: 1440px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1150px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 930px) {
  .sortBy {
    grid-template-columns: 40% 60%;
  }
}
@media (max-width: 870px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 650px) {
  .sortBy {
    grid-template-columns: 35% 65%;
  }
}
@media (max-width: 550px) {
  .sortBy {
    grid-template-columns: 5% 95%;
  }
}